h4 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  h1 {
    font-style: italic;
    text-align: center;
  }
  p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-left: 0.5cm;
    margin-right: 1cm;
    margin-bottom: 1rem;
    text-align: justify;
    text-indent: 15px;
  }
  a {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    color: rgb(10, 10, 10);
    background-color: rgb(172, 120, 97);
    
    border: 2px solid rgb(172, 120, 97);
      border-radius: 4px;
  }
  footer {
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(66, 8, 8);
    color: rgb(255, 255, 255);
  }